
.div-1 {
    background-color: #75ba75;
    height: 125px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
}
.div-2 {
    background-color: #ABBAEA;
    padding-top: 0;
    margin-top: 0;

}
.div-3 {
    background-color: #FBD603;
}
