.stack {
    /* background-color: #282c34; */
    background-color: #75ba75;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #75ba75;
  }